<nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
        <li><a href="{{ url_for('criar_texto') }}" class="text-white hover:text-gray-300">Texto</a></li>
        <li><a href="{{ url_for('criar_imagem') }}" class="text-white hover:text-gray-300">Imagem</a></li>
        <li><a href="{{ url_for('criar_audio') }}" class="text-white hover:text-gray-300">Áudio</a></li>
        <li><a href="{{ url_for('criar_codigo') }}" class="text-white hover:text-gray-300">Código</a></li>
        <li><a href="{{ url_for('criar_video') }}" class="text-white hover:text-gray-300">Vídeo</a></li>
    </ul>
</nav>